@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
  font-family: "Noto Sans", sans-serif;
}

nav.nav-main a[aria-current="page"]::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #3E3E3E;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.main-title:before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #3D3D3D;
  align-self: flex-start;
}

.main-title:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #3D3D3D;
  align-self: flex-end;
}
